.navbar
{
    position: sticky;
    top: 0;
    background-color: white;
   
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
}

.navbar__container
{
    display: flex;
    justify-content: space-between; position: sticky;
    top: 0;
    background-color: white;
   
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
     z-index: 999;
}

.header__link
{
    margin-right: 10px;
    text-decoration: none;
}

.brand
{
    font-size: 24px !important;
}